<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<base th:href="${#request.getScheme()}+'://'+${#request.getServerName()}+ ':' + ${#request.getServerPort()} + ${#request.getContextPath()} + '/'">
	<link href="jquery/bootstrap_3.3.0/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
	<link href="jquery/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" type="text/css"
		  rel="stylesheet"/>

	<script type="text/javascript" src="jquery/jquery-1.11.1-min.js"></script>
	<script type="text/javascript" src="jquery/bootstrap_3.3.0/js/bootstrap.min.js"></script>
	<script type="text/javascript"
			src="jquery/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>
	<script type="text/javascript"
			src="jquery/bootstrap-datetimepicker-master/locale/bootstrap-datetimepicker.zh-CN.js"></script>

	<link rel="stylesheet" type="text/css" href="jquery/bs_pagination/jquery.bs_pagination.min.css">
	<script type="text/javascript" src="jquery/bs_pagination/jquery.bs_pagination.min.js"></script>
	<script type="text/javascript" src="jquery/bs_pagination/en.js"></script>
<script type="text/javascript">

	$(function(){
		pageList(1,4)

		$("#qx").click(function () {
			$("input[name=xz]").prop("checked",this.checked)
		})

		$("#clueBody").on("click",$("input[name=xz]"),function () {
			$("#qx").prop("checked",$("input[name=xz]").length==$("input[name=xz]:checked").length)
		})

	});
	function pageList(pageNo, pageSize) {
		$(".time").datetimepicker({
			minView: "month",
			language: 'zh-CN',
			format: 'yyyy-mm-dd',
			autoclose: true,
			todayBtn: true,
			pickerPosition: "top-left"
		});

		var fullname=$.trim($("#hidden-fullname").val())
		var owner=$.trim($("#hidden-owner").val())
		var company=$.trim($("#hidden-company").val())
		var mphone=$.trim($("#hidden-mphone").val())
		var source=$.trim($("#hidden-source").val())
		var phone=$.trim($("#hidden-phone").val())
		var state=$.trim($("#hidden-state").val())


		$.ajax({

			url: "workbench/clue/pageList.do",
			data: {
				"fullname":fullname,
				"owner":owner,
				"company":company,
				"mphone":mphone,
				"source":source,
				"phone":phone,
				"state":state,
				"pageNo": pageNo,
				"pageSize": pageSize
			},
			type: "post",
			dataType: "json",
			success: function (data) {
				var html = ""
				$.each(data.list, function (i, n) {
					html+= '<tr>'
					html+= '<td><input name="xz" type="checkbox" value="'+n.id+'" /></td>'
					html+= '<td><a style="text-decoration: none; cursor: pointer;" onclick="window.location.href=\'workbench/clue/detail.do?id='+n.id+'\';">'+n.fullname+'</a></td>'
					html+= '<td>'+n.company+'</td>'
					html+= '<td>'+n.mphone+'</td>'
					html+= '<td>'+n.phone+'</td>'
					html+= '<td>'+n.source+'</td>'
					html+= '<td>'+n.owner+'</td>'
					html+= '<td>'+n.state+'</td>'
					html+= '</tr>'
				})
				$("#clueBody").html(html)
				//数据处理完毕后，分页插件展现数据
				var totalPages = Math.floor((data.total + pageSize - 1) / pageSize)//整除操作

				$("#cluePage").bs_pagination({
					currentPage: pageNo, // 页码
					rowsPerPage: pageSize, // 每页显示的记录条数
					maxRowsPerPage: 20, // 每页最多显示的记录条数
					totalPages: totalPages, // 总页数
					totalRows: data.total, // 总记录条数
					visiblePageLinks: 3, // 显示几个卡片
					showGoToPage: true,
					showRowsPerPage: true,
					showRowsInfo: true,
					showRowsDefaultInfo: true,
					//该回调函数时在，点击分页组件的时候触发的
					onChangePage: function (event, data) {
						pageList(data.currentPage, data.rowsPerPage);
					}
				});
			}

		})
	}
	function saveBtnClick() {

		$.ajax({

			url : "workbench/clue/save.do",
			data : $('#createForm').serialize(),
			type : "get",
			dataType : "json",
			success : function (data) {
				if(data){
					pageList($("#cluePage").bs_pagination('getOption', 'currentPage'),
							$("#cluePage").bs_pagination('getOption', 'rowsPerPage'))
				}else {
					alert("保存失败")
				}
			}

		})
	}

	function createBtnClick() {
		var userId='[[${session.user.id}]]'
		$("#create-owner").val(userId)

		$("#createClueModal").modal("show")
	}

	function deleteBtnClick() {
		var $xz=$("input[name=xz]:checked")
		if($xz.length==0){
			alert("请选择至少一个线索")
			return
		}
		if(confirm("确定删除吗")){
			var param="ids="
			for (let i = 0; i <$xz.length ; i++) {
				if(i==$xz.length-1){
					param+=$($xz[i]).val()
				}else {
					param+=$($xz[i]).val()+","
				}
			}

			$.ajax({
				url : "workbench/clue/delete.do",
				data : param,
				type : "post",
				dataType : "json",
				success : function (data) {
					if(data){
						pageList(1, $("#cluePage").bs_pagination('getOption', 'rowsPerPage'))
					}else {
						alert("保存失败")
					}
				}

			})
		}

	}

	function searchBtnClick() {
		var fullname=$.trim($("#search-fullname").val())
		var owner=$.trim($("#search-owner").val())
		var company=$.trim($("#search-company").val())
		var mphone=$.trim($("#search-mphone").val())
		var source=$.trim($("#search-source").val())
		var phone=$.trim($("#search-phone").val())
		var state=$.trim($("#search-state").val())
		$("#hidden-fullname").val(fullname)
		$("#hidden-owner").val(owner)
		$("#hidden-company").val(company)
		$("#hidden-mphone").val(mphone)
		$("#hidden-source").val(source)
		$("#hidden-phone").val(phone)
		$("#hidden-state").val(state)

		pageList(1, $("#cluePage").bs_pagination('getOption', 'rowsPerPage'))
	}

	function updateBtnClick() {
		var $xz=$("input[name=xz]:checked")
		if($xz.length!=1){
			alert("请选择一个线索")
			return
		}
		var cluId=$xz.val()
		$.ajax({
			url : "workbench/clue/update.do",
			data : {
				"id":cluId
			},
			type : "get",
			dataType : "json",
			success : function (data) {
				$("#edit-fullname").val(data.fullname)
				$("#edit-owner").val(data.owner)
				$("#edit-company").val(data.company)
				$("#edit-mphone").val(data.mphone)
				$("#edit-source").val(data.source)
				$("#edit-phone").val(data.phone)
				$("#edit-state").val(data.state)
				$("#edit-job").val(data.job)
				$("#edit-email").val(data.email)
				$("#edit-website").val(data.website)
				$("#edit-description").val(data.description)
				$("#edit-contactSummary").val(data.contactSummary)
				$("#edit-nextContactTime").val(data.nextContactTime)
				$("#edit-address").val(data.address)
				$("#edit-appellation").val(data.appellation)
				$("#clueId").val(data.id)

				$("#editClueModal").modal("show")
			}

		})

	}

	function updateClueClick() {
		$.ajax({

			url : "workbench/clue/updateClue.do",
			data : $("#updateForm").serialize(),
			type : "post",
			dataType : "json",
			success : function (data) {
				if(data){
					pageList($("#cluePage").bs_pagination('getOption', 'currentPage'),
							$("#cluePage").bs_pagination('getOption', 'rowsPerPage'))
					$("#editClueModal").modal("hide")
				}
			}

		})
	}
</script>
</head>

<body>

<input type="hidden" id="hidden-fullname">
<input type="hidden" id="hidden-owner">
<input type="hidden" id="hidden-company">
<input type="hidden" id="hidden-mphone">
<input type="hidden" id="hidden-source">
<input type="hidden" id="hidden-phone">
<input type="hidden" id="hidden-state">

	<!-- 修改线索的模态窗口 -->
	<div class="modal fade" id="editClueModal" role="dialog">
		<div class="modal-dialog" role="document" style="width: 90%;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title">修改线索</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form" id="updateForm">

						<div class="form-group">
							<label for="edit-clueOwner" class="col-sm-2 control-label">所有者<span style="font-size: 15px; color: red;">*</span></label>
							<div class="col-sm-10" style="width: 300px;">
								<select class="form-control" id="edit-owner" name="owner">
									<option th:each="user:${application.userList}" th:value="${user.id}" th:text="${user.name}"></option>
								</select>
							</div>

							<label for="edit-company" class="col-sm-2 control-label">公司<span style="font-size: 15px; color: red;">*</span></label>
							<div class="col-sm-10" style="width: 300px;">
								<input type="text" class="form-control" name="company" id="edit-company" value="动力节点">
							</div>
						</div>

						<div class="form-group">
							<label for="edit-call" class="col-sm-2 control-label">称呼</label>
							<div class="col-sm-10" style="width: 300px;">
								<select class="form-control" name="appellation" id="edit-appellation">
									<option></option>
									<option th:each="appellation:${application.appellationList}" th:value="${appellation.value}" th:text="${appellation.text}">
								</select>
							</div>
							<label for="edit-surname" class="col-sm-2 control-label">姓名<span style="font-size: 15px; color: red;">*</span></label>
							<div class="col-sm-10" style="width: 300px;">
								<input type="text" class="form-control" name="fullname" id="edit-fullname" value="李四">
							</div>
						</div>

						<div class="form-group">
							<label for="edit-job" class="col-sm-2 control-label">职位</label>
							<div class="col-sm-10" style="width: 300px;">
								<input type="text" class="form-control" name="job" id="edit-job" value="CTO">
							</div>
							<label for="edit-email" class="col-sm-2 control-label">邮箱</label>
							<div class="col-sm-10" style="width: 300px;">
								<input type="text" class="form-control" name="email" id="edit-email" value="lisi@bjpowernode.com">
							</div>
						</div>

						<div class="form-group">
							<label for="edit-phone" class="col-sm-2 control-label">公司座机</label>
							<div class="col-sm-10" style="width: 300px;">
								<input type="text" class="form-control" name="phone" id="edit-phone" value="010-84846003">
							</div>
							<label for="edit-website" class="col-sm-2 control-label">公司网站</label>
							<div class="col-sm-10" style="width: 300px;">
								<input type="text" class="form-control" name="website" id="edit-website" value="http://www.bjpowernode.com">
							</div>
						</div>

						<div class="form-group">
							<label for="edit-mphone" class="col-sm-2 control-label">手机</label>
							<div class="col-sm-10" style="width: 300px;">
								<input type="text" class="form-control" name="mphone" id="edit-mphone" value="12345678901">
							</div>
							<label for="edit-status" class="col-sm-2 control-label">线索状态</label>
							<div class="col-sm-10" style="width: 300px;">
								<select class="form-control" name="state" id="edit-state">
									<option></option>
									<option th:each="clueState:${application.clueStateList}" th:value="${clueState.value}" th:text="${clueState.text}"></option>

								</select>
							</div>
						</div>

						<div class="form-group">
							<label for="edit-source" class="col-sm-2 control-label">线索来源</label>
							<div class="col-sm-10" style="width: 300px;">
								<select class="form-control" name="source" id="edit-source">
									<option></option>
									<option th:each="source:${application.sourceList}" th:value="${source.value}" th:text="${source.text}">
								</select>
							</div>
						</div>

						<div class="form-group">
							<label for="edit-describe" class="col-sm-2 control-label">描述</label>
							<div class="col-sm-10" style="width: 81%;">
								<textarea class="form-control" rows="3" name="description" id="edit-description">这是一条线索的描述信息</textarea>
							</div>
						</div>

						<div style="height: 1px; width: 103%; background-color: #D5D5D5; left: -13px; position: relative;"></div>

						<div style="position: relative;top: 15px;">
							<div class="form-group">
								<label for="edit-contactSummary" class="col-sm-2 control-label">联系纪要</label>
								<div class="col-sm-10" style="width: 81%;">
									<textarea class="form-control" rows="3" name="contactSummary" id="edit-contactSummary">这个线索即将被转换</textarea>
								</div>
							</div>
							<div class="form-group">
								<label for="edit-nextContactTime" class="col-sm-2 control-label">下次联系时间</label>
								<div class="col-sm-10" style="width: 300px;">
									<input type="text" class="form-control time" name="nextContactTime" id="edit-nextContactTime" value="2017-05-01">
								</div>
							</div>
						</div>

						<div style="height: 1px; width: 103%; background-color: #D5D5D5; left: -13px; position: relative; top : 10px;"></div>

						<div style="position: relative;top: 20px;">
							<div class="form-group">
								<label for="edit-address" class="col-sm-2 control-label">详细地址</label>
								<div class="col-sm-10" style="width: 81%;">
									<textarea class="form-control" rows="1" name="address" id="edit-address">北京大兴区大族企业湾</textarea>
								</div>
							</div>
						</div>

						<input type="hidden" name="id" id="clueId" value="">
					</form>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" id="updateClue" onclick="updateClueClick()">更新</button>
				</div>
			</div>
		</div>
	</div>



	<!-- 创建线索的模态窗口 -->
	<div class="modal fade" id="createClueModal" role="dialog">
		<div class="modal-dialog" role="document" style="width: 90%;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">创建线索</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form" id="createForm">
					
						<div class="form-group">
							<label for="create-clueOwner" class="col-sm-2 control-label">所有者<span style="font-size: 15px; color: red;">*</span></label>
							<div class="col-sm-10" style="width: 300px;">
								<select class="form-control" name="owner" id="create-owner">
									<option th:each="user:${application.userList}" th:value="${user.id}" th:text="${user.name}"></option>
								</select>
							</div>
							<label for="create-company" class="col-sm-2 control-label">公司<span style="font-size: 15px; color: red;">*</span></label>
							<div class="col-sm-10" style="width: 300px;">
								<input type="text" class="form-control" name="company" id="create-company">
							</div>
						</div>
						
						<div class="form-group">
							<label for="create-call" class="col-sm-2 control-label">称呼</label>
							<div class="col-sm-10" style="width: 300px;">
								<select class="form-control" name="appellation" id="create-appellation">
									<option></option>
									<option th:each="appellation:${application.appellationList}" th:value="${appellation.value}" th:text="${appellation.text}"></option>

								</select>
							</div>
							<label for="create-surname" class="col-sm-2 control-label">姓名<span style="font-size: 15px; color: red;">*</span></label>
							<div class="col-sm-10" style="width: 300px;">
								<input type="text" class="form-control" name="fullname" id="create-fullname">
							</div>
						</div>
						
						<div class="form-group">
							<label for="create-job" class="col-sm-2 control-label">职位</label>
							<div class="col-sm-10" style="width: 300px;">
								<input type="text" class="form-control" name="job" id="create-job">
							</div>
							<label for="create-email" class="col-sm-2 control-label">邮箱</label>
							<div class="col-sm-10" style="width: 300px;">
								<input type="text" class="form-control" name="email" id="create-email">
							</div>
						</div>
						
						<div class="form-group">
							<label for="create-phone" class="col-sm-2 control-label">公司座机</label>
							<div class="col-sm-10" style="width: 300px;">
								<input type="text" class="form-control" name="phone" id="create-phone">
							</div>
							<label for="create-website" class="col-sm-2 control-label">公司网站</label>
							<div class="col-sm-10" style="width: 300px;">
								<input type="text" class="form-control" name="website" id="create-website">
							</div>
						</div>
						
						<div class="form-group">
							<label for="create-mphone" class="col-sm-2 control-label">手机</label>
							<div class="col-sm-10" style="width: 300px;">
								<input type="text" class="form-control" name="mphone" id="create-mphone">
							</div>
							<label for="create-status" class="col-sm-2 control-label">线索状态</label>
							<div class="col-sm-10" style="width: 300px;">
								<select class="form-control" name="state" id="create-state">
								  <option></option>
								  <option>试图联系</option>
								  <option>将来联系</option>
								  <option>已联系</option>
								  <option>虚假线索</option>
								  <option>丢失线索</option>
								  <option>未联系</option>
								  <option>需要条件</option>
								</select>
							</div>
						</div>
						
						<div class="form-group">
							<label for="create-source" class="col-sm-2 control-label">线索来源</label>
							<div class="col-sm-10" style="width: 300px;">
								<select class="form-control" name="source" id="create-source">
									<option></option>
									<option th:each="source:${application.sourceList}" th:value="${source.value}" th:text="${source.text}"></option>

								</select>
							</div>
						</div>
						

						<div class="form-group">
							<label for="create-describe" class="col-sm-2 control-label">线索描述</label>
							<div class="col-sm-10" style="width: 81%;">
								<textarea class="form-control" rows="3" name="description" id="create-description"></textarea>
							</div>
						</div>
						
						<div style="height: 1px; width: 103%; background-color: #D5D5D5; left: -13px; position: relative;"></div>
						
						<div style="position: relative;top: 15px;">
							<div class="form-group">
								<label for="create-contactSummary" class="col-sm-2 control-label">联系纪要</label>
								<div class="col-sm-10" style="width: 81%;">
									<textarea class="form-control" rows="3" name="contactSummary" id="create-contactSummary"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label for="create-nextContactTime" class="col-sm-2 control-label">下次联系时间</label>
								<div class="col-sm-10" style="width: 300px;">
									<input type="text" class="form-control time" name="nextContactTime" id="create-nextContactTime">
								</div>
							</div>
						</div>
						
						<div style="height: 1px; width: 103%; background-color: #D5D5D5; left: -13px; position: relative; top : 10px;"></div>
						
						<div style="position: relative;top: 20px;">
							<div class="form-group">
                                <label for="create-address" class="col-sm-2 control-label">详细地址</label>
                                <div class="col-sm-10" style="width: 81%;">
                                    <textarea class="form-control" rows="1" name="address" id="create-address"></textarea>
                                </div>
							</div>
						</div>
					</form>
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal" id="saveBtn" onclick="saveBtnClick()">保存</button>
				</div>
			</div>
		</div>
	</div>
	





	<div>
		<div style="position: relative; left: 10px; top: -10px;">
			<div class="page-header">
				<h3>线索列表</h3>
			</div>
		</div>
	</div>

	<div style="position: relative; top: -20px; left: 0px; width: 100%; height: 100%;">

		<div style="width: 100%; position: absolute;top: 5px; left: 10px;">

			<div class="btn-toolbar" role="toolbar" style="height: 80px;">
				<form class="form-inline" role="form" style="position: relative;top: 8%; left: 5px;">

				  <div class="form-group">
				    <div class="input-group">
				      <div class="input-group-addon">名称</div>
				      <input class="form-control" id="search-fullname" type="text">
				    </div>
				  </div>

				  <div class="form-group">
				    <div class="input-group">
				      <div class="input-group-addon">公司</div>
				      <input class="form-control" id="search-company" type="text">
				    </div>
				  </div>

				  <div class="form-group">
				    <div class="input-group">
				      <div class="input-group-addon">公司座机</div>
				      <input class="form-control" id="search-mphone" type="text">
				    </div>
				  </div>

				  <div class="form-group">
				    <div class="input-group">
				      <div class="input-group-addon">线索来源</div>
					  <select class="form-control" id="search-source">
					  	  <option></option>
					  	  <option th:each="source:${application.sourceList}" th:value="${source.value}" th:text="${source.text}"></option>

					  </select>
				    </div>
				  </div>

				  <br>

				  <div class="form-group">
				    <div class="input-group">
				      <div class="input-group-addon">所有者</div>
				      <input class="form-control" id="search-owner" type="text">
				    </div>
				  </div>



				  <div class="form-group">
				    <div class="input-group">
				      <div class="input-group-addon">手机</div>
				      <input class="form-control" id="search-phone" type="text">
				    </div>
				  </div>

				  <div class="form-group">
				    <div class="input-group">
				      <div class="input-group-addon">线索状态</div>
					  <select class="form-control" id="search-state">
						  <option></option>
						  <option th:each="clueState:${application.clueStateList}" th:value="${clueState.value}" th:text="${clueState.text}"></option>

					  </select>
				    </div>
				  </div>

				  <button type="button" class="btn btn-default" id="searchBtn" onclick="searchBtnClick()">查询</button>

				</form>
			</div>
			<div class="btn-toolbar" role="toolbar" style="background-color: #F7F7F7; height: 50px; position: relative;top: 40px;">
				<div class="btn-group" style="position: relative; top: 18%;">
				  <button type="button" class="btn btn-primary" id="createBtn" onclick="createBtnClick()"><span class="glyphicon glyphicon-plus"></span> 创建</button>
				  <button type="button" class="btn btn-default" id="updateBtn" onclick="updateBtnClick()"><span class="glyphicon glyphicon-pencil"></span> 修改</button>
				  <button type="button" class="btn btn-danger" id="deleteBtn" onclick="deleteBtnClick()"><span class="glyphicon glyphicon-minus"></span> 删除</button>
				</div>


			</div>
			<div style="position: relative;top: 50px;">
				<table class="table table-hover">
					<thead>
						<tr style="color: #B3B3B3;">
							<td><input type="checkbox" id="qx"/></td>
							<td>名称</td>
							<td>公司</td>
							<td>公司座机</td>
							<td>手机</td>
							<td>线索来源</td>
							<td>所有者</td>
							<td>线索状态</td>
						</tr>
					</thead>
					<tbody id="clueBody">
<!--						<tr>
							<td><input type="checkbox" /></td>
							<td><a style="text-decoration: none; cursor: pointer;" onclick="window.location.href='detail.html';">李四先生</a></td>
							<td>动力节点</td>
							<td>010-84846003</td>
							<td>12345678901</td>
							<td>广告</td>
							<td>zhangsan</td>
							<td>已联系</td>
						</tr>-->

					</tbody>
				</table>
			</div>

			<div style="height: 50px; position: relative;top: 60px;">
				<div id="cluePage">
				</div>
			</div>

		</div>

	</div>
</body>
</html>